# Development
db.driver = com.mysql.jdbc.Driver
db.url = jdbc:mysql://192.168.0.131:4475/anvizent
db.username = almadmin
db.password = Ewc@4fvQ#pT5
db.pool.initialSize = 1
db.pool.maxActive = 5
#2 min
db.pool.minEvictableIdleTimeMillis = 120000
db.pool.testOnBorrow = true
db.pool.timeBetweenEvictionRunsMillis = 120000 
db.pool.minIdle = 1

