alerts.thresholds.url=http://anvizdevlogin.dwpractice.com/anvizent-alerts/
anvizent.corews.url=http://anvizdevlogin.dwpractice.com/anvizentcoreapi/
anvizent.corews.api.url=http://anvizdevlogin.dwpractice.com/anvizentcoreapi
#anvizent.corews.url=http://192.168.0.130/anvizentcorews_old/
#crosssreference.classname=local_project.il_xref_main_v3_0_1.IL_XRef_Main_v3
#crosssreference.dependancyjars.list=il_xref_main_v3_0_1.jar,il_xref_v3_0_1.jar
scheduler.master.id=9
scheduler.slave.id=17
webservice.connection.request.timeout=500000
webservice.connect.timeout=500000
webservice.read.timeout=500000
minidw.package.upload.execution.alert=dev
#windows installation path for R
rscript.installation.path=D://ProgramFiles/R-3.5.1/bin/Rscript.exe
#linux installation path for R
#rscript.installation.path=/usr/bin/Rscript