#
#Fri Feb 08 14:34:50 IST 2019
service.contextPath=http\://localhost\:2013/minidwwebservice
rscript.installation.path=D\:\\ProgramFiles\\R-3.5.1\\bin
deployment.type=hybrid
webservice.connect.timeout=300000
access.number=52
run.with.scheduler.or.runnow=runwithscheduler
webservice.read.timeout=300000
minidw.version=3.7
webservice.connection.request.timeout=300000
minidw.webapp=true
access.key=XUB92WiQG5fuRJXUvTOWII00Mm8n9FKuQjP1RljnKpxnriyGJrF-XUP-JLaiUfn9
endpoint.urls=https\://login.anvizent.com,https\://appv3.anvizent.com,https\://alerts.anvizent.com,https\://schedulerv3.anvizent.com
