#Thu Jun 21 16:00:08 IST 2018
run.with.scheduler.or.runnow=runwithscheduler
access.number=52
minidw.webapp=true
deployment.type=hybrid
access.key=BVXpXajrRzQX1ZEQNEx3o7ddhKGZTkBxePP3wdO-y_Hzsd0a03_jGYhXR5H0Eyu3
minidw.version=3.6
service.contextPath=http\://localhost\:2013/minidwwebservice
webservice.connection.request.timeout=300000
webservice.connect.timeout=300000
webservice.read.timeout=300000
rscript.installation.path=D:\\ProgramFiles\\R-3.5.1\\bin
#schduler.default.start=true
endpoint.urls=https://login.anvizent.com,https://appv3.anvizent.com,https://alerts.anvizent.com,https://schedulerv3.anvizent.com